html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 34px;
}

p {
  line-height: 1.5em;
}

.wrap {
  padding: 10px;
  margin: 0 auto;
  display: block;
  max-width: 1000px;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  display: block;
  position: fixed;
  background-color: #000;
}

header .wrap {
  position: relative;
}

header #company {
  top: 15px;
  left: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
}

header nav {
  top: 22px;
  right: 10px;
  position: absolute;
}

header nav a {
  margin: 0 10px;
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
}

header nav a:hover {
  color: #fff;
}

section {
  text-align: center;
}

section#home {
  background-color: #565656;
}

section#home .wrap {
  padding: 200px 10px;
}

section#home .wrap p {
  margin: auto;
  max-width: 800px;
}

section#home .sub {
  display: block;
  background-color: #fff;
}

section#home .sub .wrap {
  padding: 100px 10px;
}

section#home .sub ul {
  padding: 0;
  margin: 0;
}

section#home .sub ul li {
  padding: 0;
  width: 28%;
  margin: 0 20px;
  color: #565656;
  list-style: none;
  text-align: center;
  display: inline-block;
}

section#home .sub ul li .poster {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #ccc;
}

section#about .wrap {
  padding: 150px 10px;
}

section#about .normal {
  font-weight: normal;
}

section#about .author {
  text-align: right;
  font-style: italic;
  margin-right: 150px;
}

section#about ul {
  padding: 0;
  margin: 50px 0;
}

section#about ul li {
  padding: 0;
  margin: 0 5px;
  list-style: none;
  text-align: center;
  display: inline-block;
}

section#about ul li .poster {
  width: 220px;
  height: 220px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #ccc;
}

section#about ul li h3 {
  margin: 0;
  padding: 0;
}

section#about ul li p {
  margin: 0;
  padding: 0;
}

section#portfolio {
  background-color: #565656;
}

section#portfolio .wrap {
  padding: 100px 10px;
}

section#portfolio nav {
  margin: 20px auto;
}

section#portfolio nav a {
  color: #fff;
  width: 130px;
  margin: 0 5px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
}

section#portfolio nav a:hover, section#portfolio nav a.active {
  color: #565656;
  background-color: #fff;
}

section#portfolio ul {
  padding: 0;
  margin: 20px 0;
}

section#portfolio ul li {
  margin: 5px;
  width: 300px;
  height: 200px;
  display: inline-block;
  background-color: #fff;
}

section#portfolio .testimonial {
  background-color: #1e1e1e;
}

section#portfolio .testimonial .wrap {
  padding: 100px 10px;
}

section#portfolio .testimonial .avatar {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}

section#contact {
  background-color: #565656;
}

section#contact .wrap {
  padding: 75px 10px;
}

section#contact input[type="text"],
section#contact input[type="email"],
section#contact input[type="tel"],
section#contact textarea {
  border: none;
  padding: 10px;
  width: 280px;
  outline: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  background-color: #ccc;
}

section#contact textarea {
  height: 150px;
}

section#contact button[type="submit"] {
  padding: 10px;
  width: 150px;
  font-size: 16px;
  border-radius: 10px;
}

footer {
  text-align: center;
}

footer .wrap {
  padding: 50px 10px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  padding: 0;
  margin: 0 50px;
  list-style: none;
  display: inline-block;
}

footer ul li ul {
  margin: 0;
  padding: 0;
}

footer ul li ul h3 {
  text-align: left;
}

footer ul li ul li {
  padding: 0;
  margin: 10px 0;
  display: block;
  list-style: none;
  text-align: left;
}

footer ul li ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li ul li a:hover {
  text-decoration: underline;
}

footer ul.social {
  padding: 0;
  margin: 50px 0;
}

footer ul.social li {
  padding: 0;
  margin: 0 10px;
  list-style: none;
}

footer ul.social li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}
/*# sourceMappingURL=styles.css.map */