html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 34px;
}

p {
  line-height: 1.5em;
}

.wrap {
  padding: 10px;
  margin: 0 auto;
  display: block;
  max-width: 1000px;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  display: block;
  position: fixed;
  background-color: #000;

  .wrap {
    position: relative;
  }

  #company {
    top: 15px;
    left: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
  }

  nav {
    top: 22px;
    right: 10px;
    position: absolute;

    a {
      margin: 0 10px;
      color:  #ccc;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #fff;
      }
    }
  }
}

section {
  text-align: center;

  &#home {
    background-color: #565656;

    .wrap {
      padding: 200px 10px;

      p {
        margin: auto;
        max-width: 800px;
      }
    }

    .sub {
      display: block;
      background-color: #fff;

      .wrap {
        padding: 100px 10px;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          padding: 0;
          width: 28%;
          margin: 0 20px;
          color: #565656;
          list-style: none;
          text-align: center;
          display: inline-block;

          .poster {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
            display: inline-block;
            background-color: #ccc;
          }
        }
      }
    }
  }

  &#about {
    .wrap {
      padding: 150px 10px;
    }

    .normal{
        font-weight:normal;
    }

    .author{
        text-align: right;
        font-style: italic;
        margin-right: 150px;
    }

    ul {
      padding: 0;
      margin: 50px 0;

      li {
        padding: 0;
        margin: 0 5px;
        list-style: none;
        text-align: center;
        display: inline-block;

        .poster {
          width: 220px;
          height: 220px;
          margin-bottom: 10px;
          display: inline-block;
          background-color: #ccc;
        }

        h3 {
          margin: 0;
          padding: 0;
          
        }

        p {
          margin: 0;
          padding: 0;
        }

      }
    }
  }


  &#portfolio{
    background-color: #565656;

    .wrap {
        padding: 100px 10px;
      }

      nav{
          margin: 20px auto;

          a{
            color:#fff;
            width: 130px;
            margin:0 5px;  
            padding: 10px;
            display: inline-block;
            text-decoration: none;
            border:1px solid #fff;

            &:hover,
            &.active{
                color: #565656;
                background-color:#fff;
            }

          }

      }

      ul{
          padding:0;
          margin:20px 0;

          li{
              margin:5px;
              width:300px;
              height: 200px;
              display: inline-block;
              background-color: #fff;
          }

      }

           .testimonial{
            background-color: #1e1e1e;

            .wrap{
                padding:100px 10px;
            }


            .avatar{
                width:100px;
                height:100px;
                margin:10px 0;
                border-radius: 50%;
                display: inline-block;
                background-color: #fff;
            }

        }


  }


  &#contact{
        background-color: #565656;

        .wrap{
            padding:75px 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea{
            border:none;
            padding:10px;
            width: 280px;
            outline: none;
            display: block;
            font-size: 16px;
            margin:10px auto;
            background-color: #ccc;
        }

        textarea{
            height: 150px;
        }

        button[type="submit"]{
            padding:10px;
            width:150px;
            font-size: 16px;
            border-radius: 10px;
        }

  }

}

footer{
    text-align: center;
    .wrap{
        padding:50px 10px;
    }

    ul{
        margin:0;
        padding:0;

        li{
            padding:0;
            margin:0 50px;
            list-style: none;
            display: inline-block;

            ul{
                margin: 0;
                padding:0;

                h3{
                    text-align: left;
                }

                li{
                    padding:0;
                    margin: 10px 0;
                    display: block;
                    list-style: none;
                    text-align: left;

                    a{
                        color:#fff;
                        text-decoration: none;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                }
            }
        }
    }

    ul.social{
        padding:0;
        margin:50px 0;


        li{
            padding:0;
            margin:0 10px;
            list-style: none;

            a{
                width:50px;
                height: 50px;
                border-radius: 50%;
                display: inline-block;
                background-color: #fff;
            }

        }

    }
}